%mybtn {
  width: 156px;
  height: 51px;
  background: #0e1734;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

//animation hover btn
a {
  text-decoration: none;
  color: #424f7b;
}
.row {
  width: 100%;
  text-align: left;
  align-items: center;
}
.headerSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .brand {
    font-size: 32px;
    font-weight: 600;
    color: #192252;
  }
  li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: red;
    transition: ease-in-out 0.35s;
  }
  li a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #192252;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    li {
      margin-right: 32px;
    }
    a {
      color: #192252;

      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      width: 100%;
    }
  }

  .headerBtn {
    width: 121px;
    height: 47px;
    background: #0e1734;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
  }
}
.row1 {
  height: 845px;
  .main {
    .title-header {
      font-weight: 600;
      font-size: 48px;
      color: #192252;
      line-height: 150%;
    }
    .title-body {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #848fac;
      width: 485px;
      margin-top: 24px;
    }
    .btnFooter {
      @extend %mybtn;
      margin-top: 32px;
    }
  }
  .imgSec {
    display: flex;
    width: 588px;
    justify-content: space-between;
    img {
      width: 180px;
      height: 588px;
    }
    img {
      &:first-child,
      &:last-child {
        margin-top: 80px;
      }
      &:nth-child(2) {
        margin-top: 161px;
      }
    }
  }
}
.row2 {
  height: 736px;
}
.rowl {
  margin-bottom: 80px;
}
.rowcol4 {
  margin-bottom: 80px;
}
.col-xl-7 {
  .title2 {
    margin-bottom: 24px;
    width: 600px;
    color: #192252;
    line-height: 150%;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.01em;
  }

  .text2 {
    font-weight: 400;
    width: 584px;
    font-size: 18px;
    line-height: 150%;
    color: #848fac;
  }

  .texttop {
    margin-top: 16px;
  }

  .mybtn2 {
    @extend %mybtn;
    margin-top: 32px;
    width: 151px;
  }
}

.col-xl-5 {
  img {
    widows: 384px;
    height: 576px;
  }
}

.col-xl-6 {
  .title3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #192252;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }
  .text3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848fac;
    width: 584px;
  }
  .img4 {
    width: 384px;
  }
}

.rowcenter {
  margin-bottom: 88px;
  .title4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #192252;
    margin-bottom: 24px;
  }
  .text4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848fac;
    width: 588px;
    margin: 0 auto;
  }
  .btn4 {
    @extend %mybtn;
    margin-top: 32px;
    width: 165px;
  }
}

.col-xl-4 {
  .card {
    border: none;
    .card-body {
      padding: 0;
    }
  }
  .card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-top: 32px;
  }
  .card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848fac;
  }
  .learnmore {
    align-items: center;
    margin-top: 32px;
    div {
      font-weight: 400;
      color: #424f7b;
      font-size: 18px;
      margin-right: 14px;
    }
    img {
      width: 17px;
      height: 14px;
    }
  }
}

.row4 {
  height: 596px;
  align-items: center;
  .col-xl-6 {
    .accordion {
      width: 588px;
      height: 420px;
    }
    .accordion-item {
      margin-bottom: 24px;
      .accordion-body {
        padding: 0px 36px;
        width: 516px;
        font-weight: 400;
        font-size: 18px;
        color: #848fac;
        line-height: 150%;
      }
      border: none;
      .accordion-button {
        font-weight: 600;
        padding: 32px 36px;
        border-radius: 4px;
        font-size: 24px;
        line-height: 150%;
        color: #424f7b;
        width: 588px;
        height: 100px;
      }
    }
    .accordion-button:not(.collapsed) {
      color: #424f7b;
      background-color: transparent;
      box-shadow: none;
      border: none;
    }
    .accordion-button:focus {
      z-index: 3;
      border-color: none;
      outline: 0;
      box-shadow: none;
    }
    .start {
      font-weight: 500;
      font-size: 16px;
      color: #424f7b;
      margin-bottom: 12px;
    }
    .title {
      letter-spacing: -0.01em;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      color: #192252;
      margin-bottom: 24px;
    }
    .text {
      width: 360px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #848fac;
      margin-bottom: 32px;
    }
    .footersec {
      align-items: center;
      .contactBtn {
        @extend %mybtn;
        width: 148px;
        margin-right: 24px;
      }
      div {
        font-weight: 500;
        font-size: 16px;
        color: #0e1734;
      }
    }
  }
}
.row5 {
  height: 627px;
  text-align: center;
  .carousel-indicators {
    button {
      width: 16px;
      height: 0px;
      border-radius: 50%;
      background-color: rgba(250, 176, 71, 0.35);
    }
  }
  .carousel-dark {
    .carousel-indicators [data-bs-target] {
      background: #fab047;
    }
  }
  .carousel-item {
    .title {
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      color: #192252;
      margin-bottom: 62px;
    }
    .text {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #848fac;
      width: 793.06px;
      margin: 44px auto 40px auto;
    }
    .name {
      color: #192252;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .carousel-indicators {
    bottom: -50px;
  }
}

footer {
  background: #0b265a;
  height: 444px;
  .container {
    // align-items: center;
    .row6 {
      height: 438px;
      .cootelsSec {
        .title {
          font-weight: 700;
          font-size: 32px;
          line-height: 39px;
          letter-spacing: -0.01em;
          color: #ffffff;
        }
        .text {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #d9dbde;
          width: 180px;
          margin-top: 13px;
          margin-bottom: 36px;
        }
        .links {
          width: 145px;
          height: 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            cursor: pointer;
            transition: linear 0.25s;
            fill: white;
            &:hover {
              transform: scale(1.25);
            }
          }
          .twitter:hover {
            fill: #03a9f4;
          }
          .instagram:hover {
            fill: #d13594;
          }
          .facebook:hover {
            fill: #3d6ad6;
          }
        }
      }
    }
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
    line-height: 40px;
  }
}
a {
  text-decoration: none;
  font-size: 16px;
  color: #d9dbde;
}
ul {
  li:first-child {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
}
.roomsSec {
  height: 191px;
}
.reservationSec {
  height: 191px;
}
.contactSec {
  height: 191px;
}
